.auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--theme-bg);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(240, 55, 3, 0.1);
  }
  
  .auth-title {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--button-bg);
    color: #fff;
  }
  
  .auth-form button {
    padding: 10px;
    background-color: #6c5ecf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .auth-form button:hover {
    background-color: #5847d0;
  }
  
  .error-message {
    color: #ff7551;
    margin-bottom: 10px;
  }
  
  .auth-container p {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }
  
  .auth-container a {
    color: #6c5ecf;
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .auth-container {
      width: 90%;
      padding: 15px;
    }
  
    .auth-form input,
    .auth-form button {
      width: 100%;
    }
  }